@{
    ViewData["Title"] = "Contact";
}
<body style="background-image: url(../images/bgr.jpg)">
    <br />
    <div class="panel panel-info" style="text-align: center; background-color: rgba(255, 255, 255, 0.6); height: 330px">
        <div class="panel-heading">
            <h2>
                Чтобы связаться с нами
            </h2>
        </div>
        <br />
        <h3 style="font-size: 24px;">
            <strong>Звоните</strong>
        </h3>
        <h4>
            <a href="mailto:Support@example.com">+380679678860</a><br />
            <a href="mailto:Support@example.com">+380509785601</a><br />
        </h4>

        <h3 style="font-size: 24px;">
            <strong>Или обращайтесь по адрессу</strong>
        </h3>
        <h4>
            ул. Бакулина д.20 кв.233
        </h4>
    </div>
</body>
