@{
    ViewData["Title"] = "Gallery";
}
<body style="background-image: url(../images/bgr.jpg)">

    <div class="container">

        <h1 style="text-align: center">Галерея</h1>
        <br>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur1.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur2.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur3.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur4.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur5.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur6.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur7.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur8.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="#">
                    <img src="../images/cur9.jpg" class="thumbnail img-responsive">
                </a>
            </div>
        </div>
    </div>
    </body>